table {
  width: 100%;
}

.mat-form-field {
  font-size: 15px;
  width: 50%;
}

.mat-input-element:disabled {
  color: black;
  font-weight: bold;
}

td,
th {
  width: 25%;
}

.modal-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.modal-container .mat-form-field {
  font-family: "Courier New", Courier, monospace;
}

.modal-container .mat-form-field .mat-form-field-id {
  width: 132px;
}
