<mat-form-field appearance="outline">
  <mat-label>NUMERO DE PEDIDO</mat-label>
  <input matInput disabled
    value="CL{{orderHeader.branchId.toString().padStart(3,'0')}}PE{{orderHeader.orderId.toString().padStart(10,'0')}}Z{{orderHeader.zoneId.toString().padStart(2,'0')}}">
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>MODO</mat-label>
  <input matInput disabled value="{{orderHeader.mode}}">
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>CLIENTE</mat-label>
  <input matInput disabled value="{{orderHeader.branchName}}">
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Estado</mat-label>
  <input matInput disabled value="{{orderHeader.status}}">
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Usuario Asignado</mat-label>
  <input matInput disabled value="{{orderHeader.user}}">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Zona</mat-label>
  <input matInput disabled value="{{orderHeader.zones}}">
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Fecha de inicio</mat-label>
  <input matInput disabled value="{{orderHeader.dateInit}}">
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Fecha de fin</mat-label>
  <input matInput disabled value="{{orderHeader.dateEnd}}">
</mat-form-field>

<mat-form-field appearance="standard">
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex." #input>
</mat-form-field>

<div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
  <!-- <mat-spinner *ngIf="isLoadingResults"></mat-spinner> -->
  <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
    SOSOVISH-SLD-API No respondio a tiempo en varios intentos, intente luego mas tarde!
  </div>
</div>

<div class="mat-elevation-z4">
  <mat-table [dataSource]="orderDetail" matSort matSortActive="customer" matSortDisableClear matSortDirection="desc">
    <ng-container matColumnDef="completeCode">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.completeCode}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="productName">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="units">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Unidad </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.units}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantityAvailable">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad Pedida </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.quantityAvailable}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="countedQuantity">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad Contada </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.countedQuantity}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Ubicacion </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.location}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="zone">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Zona </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.zone}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[50,100]" showFirstLastButtons aria-label="Select page of users">
  </mat-paginator>
</div>
