table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-column-customer{
  width: 120px;
  padding-right: 24px;
}

.mat-column-orderType{
  width: 10px;
  padding-left: 24px;
}
