<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
    GitHub's API rate limit has been reached. It will be reset in one minute.
  </div>
</div>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="data" matSort matSortActive="customer" matSortDisableClear matSortDirection="desc">
  <ng-container matColumnDef="customer">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.customer}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="orderType">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Origen </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.orderType}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="priority">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Prioridad </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.priority}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="mount">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Monto </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.mount|currency:'DOP'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="reference">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Referencia </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.reference}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
<mat-card>
  <mat-card-content>
    <div>
      <h1 class="display-4 text-center">ORDENES EN ESPERA</h1>
    </div>

    <div class="row">
      <div class="col-md-12" style="overflow:auto;">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>Cliente</th>
              <th>Origen</th>
              <th>Fecha</th>
              <th>Prioridad</th>
              <th>Monto</th>
              <th>Referencia</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pd of service.listNotWork">
              <td (click)="openDialog(pd.id)">{{pd.customer}}</td>
              <td (click)="openDialog(pd.id)">{{pd.orderType}}</td>
              <td (click)="openDialog(pd.id)">{{pd.date}}</td>
              <td (click)="openDialog(pd.id)">{{pd.priority}}</td>
              <td (click)="openDialog(pd.id)">{{pd.mount|currency:'DOP'}}</td>
              <td (click)="openDialog(pd.id)">{{pd.reference}}</td>
              <td>
                <i><fa-icon [icon]="trashIcon" (click)="onDeleted(pd.id)" ></fa-icon></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
