<div class="p-5 mb-4 bg-light rounded-3 py-3">
  <h1 class="display-4 text-center">Registrar Departamentos</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <app-department-form></app-department-form>
  </div>
  <div class="col-md-6">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Codigo</th>
          <th>Nombre</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pd of service.list">
          <td>{{pd.id}}</td>
          <td>{{pd.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

