<mat-card>
  <mat-card-content>
    <mat-card-title>Crear/Editar Departamento</mat-card-title>
    <mat-card-subtitle>Creacion de departamento para categorizar los productos</mat-card-subtitle>
    <form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
      <input type="hidden" name="id" [value]="service.formData.id">
      <mat-form-field>
        <input matInput type="text" class="form-control form-control-lg" placeholder="Nombre del departamento" aria-label="name"
          aria-describedby="basic-addon1" name="name" #name='ngModel'
          [(ngModel)]='service.formData.name' required>
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button color="accent" matTooltip="Guardar" matTooltipPosition="right" type="submit" [disabled]="form.invalid">Guardar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
