<mat-card class="Mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Usuarios</mat-card-title>
    <mat-card-subtitle>En esta ventada podra Ver, crear y editar Usuarios</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="box">
      <div class="form">
        <form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)" [style]="{width:'100%'}">
          <input type="hidden" name="id" [value]="userService.formData.id">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Nombre Completo</mat-label>
            <input matInput [(ngModel)]="userService.formData.name" name="name" required>
          </mat-form-field>
          <table class="full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Nombre de Usuario</mat-label>
                  <input matInput [(ngModel)]="userService.formData.userName" name="username" required
                    [readonly]="userService.formData.id>0">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Digite su contraseña</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="userService.formData.password"
                    name="password" required>
                  <button mat-icon-button type="button" matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <p>
            <mat-checkbox [(ngModel)]="userService.formData.status" name="status">Activo
            </mat-checkbox>
          </p>
          <div *ngIf="userService.edituser">
            <p>
              <button mat-flat-button color="primary" type="button"
                (click)="toFactor(userService.formData.id)">2FA</button>
            </p>
            <p>
              <mat-checkbox [(ngModel)]="userService.formData.changePassword" name="changepassword">Cambiar Contraseña
              </mat-checkbox>
            </p>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Nueva contraseña</mat-label>
              <input matInput [type]="hidechangePassword ? 'password' : 'text'"
                [(ngModel)]="userService.formData.newPassword" name="newpassword"
                [disabled]="!userService.formData.changePassword">
              <button mat-icon-button type="button" matSuffix (click)="hidechangePassword = !hidechangePassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidechangePassword">
                <mat-icon>{{hidechangePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Guardar</button>
          <button mat-flat-button color="primary" type="button" (click)="resetForm(form)">Cancelar</button>
        </form>
      </div>
      <div class="detail">
        <app-detail [style]="{width:'100%'}"></app-detail>
      </div>
    </div>
  </mat-card-content>
</mat-card>
