<app-orderworkdetails></app-orderworkdetails>


<mat-card>
  <mat-card-content>
    <div>
      <h1 class="display-4 text-center">ORDENES ACTIVAS</h1>
    </div>

    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6" style="overflow: auto;">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>Cliente</th>
              <th>Origen</th>
              <th>Inicio</th>
              <th>finalizacion</th>
              <th>Monto</th>
              <th>Estado</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pd of service.listInWork">
              <td (click)="openDialog(pd.id)">{{pd.customer}}</td>
              <td (click)="openDialog(pd.id)">{{pd.orderType}}</td>
              <td (click)="openDialog(pd.id)">{{pd.initDate}}</td>
              <td (click)="openDialog(pd.id)">{{pd.endDate}}</td>
              <td (click)="openDialog(pd.id)">{{pd.mount|currency:'DOP'}}</td>
              <td (click)="openDialog(pd.id)">{{pd.status}}</td>
              <td>
                <i><fa-icon [icon]="trashIcon" (click)="onDeleted(pd.id)" ></fa-icon></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
