<mat-card class="cardCola mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>ORDENES EN COLA</mat-card-title>
    <mat-card-subtitle>Esta ventana muestra todas las ordenes que estan a la espera de ser gestionadas
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="standard">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex." #input>
    </mat-form-field>

    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <!-- <mat-spinner *ngIf="isLoadingResults"></mat-spinner> -->
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        SOSOVISH-SLD-API No respondio a tiempo en varios intentos, intente luego mas tarde!
      </div>
    </div>

    <div class="mat-elevation-z4">
      <mat-table [dataSource]="data" matSort matSortActive="date" matSortDisableClear matSortDirection="desc">
        <ng-container matColumnDef="branch">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"> {{element.branchName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="mode">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Modo</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"> {{element.mode}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="warehouse">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Almacen</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"> {{element.warehouse??'SIN CENTRO'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
          <mat-cell mat-cell [style.background-color]="'#'+element.backgroudColor" *matCellDef="let element">
            {{element.status}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="reference">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Referencia</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element"> {{element.reference}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu Order">
              <mat-icon>more</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="menu2" aria-label="Menu Order2"
                [disabled]="element.statusId==100?false:true">
                <mat-icon>swap_horiz</mat-icon>
                <span>Cambiar Almacen Destino</span>
              </button>
              <mat-menu #menu2="matMenu">
                <button mat-menu-item *ngFor="let warehouse of warehouses"
                  (click)="changeCenter(element.orderId,element.branchId,warehouse.id)"
                  [disabled]="warehouse.name==element.warehouse">
                  <mat-icon>transform</mat-icon>
                  <span>{{warehouse.name}}</span>
                </button>
              </mat-menu>
              <button mat-menu-item (click)="publishOrder(element.orderId,element.branchId,true)"
                [disabled]="element.statusId==100?false:true">
                <mat-icon>transform</mat-icon>
                <span>Descargar Dividido</span>
              </button>
              <button mat-menu-item (click)="publishOrder(element.orderId,element.branchId,false)"
                [disabled]="element.statusId==100?false:true">
                <mat-icon>fullscreen</mat-icon>
                <span>Descargar Completo</span>
              </button>
              <button mat-menu-item (click)="openDialog(element.orderId,element.branchId)">
                <mat-icon>view_comfy</mat-icon>
                <span>Ver Detalle</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>

      </mat-table>
      <mat-paginator [pageSizeOptions]="[25, 100]" showFirstLastButtons aria-label="Select page of users">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
