<div class="main-container">
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav-content class="page-wrapper">
      <div class="page-content">
        <mat-card>
          <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <h2>Log In</h2>
              <mat-error *ngIf="loginInvalid">
                The username and password were not recognized
              </mat-error>
              <mat-form-field class="full-width-input">
                <input matInput placeholder="{{tipo.value=='Usuario'?'Usuario':'APIKEY'}}" formControlName="username"
                  required>
                <mat-error>
                  Please provide a valid email address
                </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width-input" *ngIf="tipo.value=='Usuario'">
                <input matInput type="password" placeholder="Contraseña" formControlName="password">
                <mat-error>
                  Please provide a valid password
                </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width-input">
                <mat-label>Area</mat-label>
                <mat-select #tipo formControlName="area">
                  <mat-option *ngFor="let area of areas" [value]="area.viewValue">
                    {{area.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  Please provide a valid area
                </mat-error>
              </mat-form-field>
              <button mat-raised-button color="primary">Login</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
