<mat-card>
  <mat-card-header>
    <mat-card-title>Autenticacion en dos factores</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="myAngularxQrCode!=''">
      <qrcode [width]="512" [errorCorrectionLevel]="'M'" [qrdata]="myAngularxQrCode" allowEmptyString="true"
        [scale]="'1'" [elementType]="'img'">
      </qrcode>
    </div>
    <a>
      <span>escane el codigo Qr Con su aplicacion de TOTP y digite el codigo de 6 digitos para validar</span>
    </a>
    <mat-form-field appearance="outline">
      <mat-label>Codigo</mat-label>
      <input matInput minlength="6" maxlength="6">
    </mat-form-field>
    <button mat-flat-button color="primary" type="button">Activar</button>
  </mat-card-content>
</mat-card>
